html {
  scroll-snap-type: y mandatory;
}
.app {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__videoCard {
  position: relative;
  height: 580px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  /* span to vertical axis */
  scroll-snap-type: y mandatory;
}
/* hide scrollbar for chrome, safari,opera */
.app__videoCard::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for IE, edge,firefox */
.app__videoCard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
